*{
    text-align: center;
}

#hidden{
    opacity: 0;
}

#hidden.loaded{
    opacity: 1;
}


footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#joke.error{
    background-color: red;
}

#joke{
    background-color: white;
}