

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*Min-width Media Queries: */

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}


/* A container holds all elements and controls the page’s maximum 
width. Using a container will make designing for responsive easier! */

.container {
    margin: 0 auto;
    max-width: 90rem;
    width: 90%;
    padding-top: 3%;
  }
  

  /* Create Column Sizes: */
/* On larger screens, columns gain float: left in order to stack 
content horizontally. Columns now use padding for gutters, so you
no longer need to worry about removing margins.   */

  @media (min-width: 40rem) {
    .column {
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    .column.full { 
        width: 100%; }
    
    .column.third { 
        width: 33.3%; }
    
  }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}






/*my own styles*/

  
html{
    background-color: rgba(200, 209, 147, 0.452);
}

header{
    text-align: center;
}

body{
    text-align: center;
}

.row{
    width:100%;
    display:inline-block;
    margin-top: 5%;
    
    
}

.column.third{
   position: relative;
    float:left;   
    width: 33.3%;
}

.column img{
    height: 150px;
    width: 200px;
    filter: grayscale(80%);
}

.column:hover img{
    filter: grayscale(0%);
}

.column.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 5, 5);
    position: absolute;
    opacity: 0;
    top:0;  
    left: 25%;
    right: 25%; 
  }

.column:hover .column.text{
    opacity: 1;
    background-color: rgba(208, 211, 132, 0.623); 
    
}

footer{
    text-align: center;
    display: inline-block;
    width:100%;
    margin-top: 5%;
}
